#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Tic Tac Toe
Exec=tictactoe
Icon=images/tictactoe.png
Terminal=false
Categories=Game;GTK;

